.divForm label {
  display: block !important;
}

.btn-delete {
  height: 37px !important; 
  align-self: flex-end;
  margin-bottom: 8px;
  margin-left: 5px;
}

.col-10{
  padding: 0px 0px 0px 0px;
}

.div-menu {
  border-right: solid 1px;
  padding: 0px 0px 0px 20px;
  background-color: #cc34f1;
  color: white;
}

.div-card-list {
  border: solid 1px #bab8b8 ;
  padding: 10px;
  background-color:#ededed
}

.col-9 {
  margin-right: 0px;
  padding: 0px 25px;
}

.divForm {
  padding: 0px 100px !important;
  margin-left: auto;
  margin-right: auto;
  background-color: #f7d998;
}

.navbar{
  background-color: #cc34f1;
}

.container-admininput {
  padding: 25px;
  background-color: orange;
}
.container-fluid {
  padding-top:5rem;
}
