.volumeAll {
  position:absolute;
  z-index:2;
  height:100%;
  width:100%;
  background:white;
}
.player {
  position :absolute;
  z-index:0;
}
.soundIcon{
  top:25%;
  position:absolute;
}
.soundIcon:hover {
  cursor:pointer;
}

.fas {
  font-size:48px;
}
.sliderwrapper {
  display: inline-block;
  width: 20px;
  height: 150px;
  padding: 0;
  position:absolute;
  top:7%;
}
.sliderwrapper input {
  width: 150px;
  height: 20px;
  margin: 0;
  transform-origin: 75px 75px;
  transform: rotate(-90deg);
}
