/* This file contains design ui components and themes in the following order.
 *
 * 1. Shard styles
 * 2. Backgrounds
 * 3. Typography
 */

/* Shard styles
   ========================================================================== */

/*Full width*/
.context-tool-bar,
.ui-card,
.ui-card-flat {
  width: 100%;
}


/* Backgrounds
   ========================================================================== */

.background-gray {
  background: #ecedef;
}

.background-white {
  background: #ffffff;
}

.background-gradient {
  background-image: linear-gradient(122deg, #9f041b 0%, #f5515f 100%);
}

.text-white {
  color: #ffffff;
}

.context-tool-bar {
  position: fixed;
  height: 56px;
  text-align: center;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  ;
  padding: 0 16px;
}

.context-tool-bar .logo {
  padding: 8px;
}

.ui-card {
  border-radius: 6px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.ui-card-flat {
  border-radius: 4px;
  background-color: #ffffff;
  overflow: hidden;
}

.ui-card:hover {
  /* box-shadow: 0 1px 2px rgba(60, 64, 67, .3), 0 2px 6px 2px rgba(60, 64, 67, .15); */
}

.ui-card-image {
  background-image: url("../assets/images/image-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 219px;
}

.ui-card-overline {
  margin: 16px 0;
}

.ui-card-action {
  padding: 16px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ui-button {
  min-width: 120px;
  height: 32px;
  border-radius: 16px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.44px;
  background-color: #ffffff;
  text-transform: uppercase;
}

.ui-button-outline {
  background-color: transparent;
  border: solid 1.5px #3498db;
  color: #3498db;
}

.divider-dark {
  height: 1px;
  opacity: 0.12;
  background-color: rgba(0, 0, 0, 0.87);
}

/* Icon*/
.icon {
  font-size: 24px;
  cursor: pointer;
  padding: 8px;
  transition: all 0.1s;
}

.icon-alt {
  transition: all 0.1s;
  font-size: 24px;
}

/* Typography */
.overline {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
  letter-spacing: 2px;
  color: rgba(0, 0, 0, 0.87);
  text-transform: uppercase;
}

.header-5 {
  font-family: Roboto;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.87);
  font-weight: normal;
  margin: 0;
}

.header-6 {
  font-family: Roboto;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.87);
  font-weight: normal;
  margin: 0;
}

.body-1 {
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.5px;
  color: rgba(0, 0, 0, 0.87);
}

/* Progress bar  */
.ui-progress {
  display: flex;
  height: 0.3rem;
  overflow: hidden;
  background-color: rgba(156, 39, 176, 0.16);
}

.ui-progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: #9c27b0;
  transition: width 0.6s ease;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}