.radio-button {
  position: relative;
  width: 40px;
  height: 40px;
}

.radio-button input {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 200;
  opacity: 0;
  cursor: pointer;
}

.radio-button span {
  position: absolute;
  font-size: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.radio-button input[type="radio"]:checked+.check-mark::before {
  background: #000;
}

.radio-button input[type="radio"]:checked~span {
  color: white;
}

.check-mark {
  transition: all 4s;
}

.radio-button .check-mark::before {
  content: '';
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #000;
}

.radio-button-wrapper {
  display: flex;
  justify-content: space-between;
}