.ui-card {
  width: 100%;
  border-radius: 6px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, .25);
  background-color: #ffffff;
  overflow: hidden;
}

.ui-card:hover {
  box-shadow: 0 1px 2px rgba(60, 64, 67, .3), 0 2px 6px 2px rgba(60, 64, 67, .15);
}

.ui-card-image {
 
  background-size: cover;
  background-repeat: no-repeat;
  height: 219px;
}

.ui-card-body {
  padding: 0 16px;
}

.ui-card-overline {
  margin: 16px 0;
}

.ui-card-action {
  padding: 16px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ui-button {
  min-width: 120px;
  height: 32px;
  border-radius: 16px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.44px;
  background-color: #ffffff;
  text-transform: uppercase;
}

.ui-button-outline {
  border: solid 1.5px #5699ff;
  color: #3d89fd;
}

.divider-dark {
  height: 1px;
  opacity: 0.12;
  background-color: rgba(0, 0, 0, 0.87);
}

/* Icon*/
.icon {
  font-size: 24px;
  cursor: pointer;
  padding: 8px;
}

/* Typography */
.overline {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
  letter-spacing: 2px;
  color: rgba(0, 0, 0, 0.87);
  text-transform: uppercase;
}

.header-5 {
  font-family: Roboto;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.87);
  font-weight: normal;
  margin: 0;
}

.header-6 {
  font-family: Roboto;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.87);
  font-weight: normal;
  margin: 0;
}

.body-1 {
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.5px;
  color: rgba(0, 0, 0, 0.87);
}

.ui-progress {
  display: flex;
  height: 1rem;
  overflow: hidden;
  background-color: rgba(156, 39, 176, .16);
  ;
}

.ui-progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: #9c27b0;
  transition: width .6s ease;
}